In [1]:
import geopandas as gpd

In [2]:
%matplotlib inline

Counties

In [3]:
counties = gpd.read_file("../processed/counties_2018.geojson")

In [4]:
counties.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 5 columns):
state_fips           3233 non-null object
county_fips          3233 non-null object
county_identifier    3233 non-null object
county_name          3233 non-null object
geometry             3233 non-null object
dtypes: object(5)
memory usage: 126.4+ KB

In [5]:
counties.head()

,state_fips,county_fips,county_identifier,county_name,geometry
0,31,039,31039,Cuming,"POLYGON ((-97.019516 42.004097, -97.019519 42...."
1,53,069,53069,Wahkiakum,"POLYGON ((-123.436394 46.238197, -123.447592 4..."
2,35,011,35011,De Baca,"POLYGON ((-104.567387 33.997566, -104.567717 3..."
3,31,109,31109,Lancaster,"POLYGON ((-96.910751 40.784944, -96.910753 40...."
4,31,129,31129,Nuckolls,"POLYGON ((-98.273667 40.089399, -98.273667 40...."

In [9]:
assert len(counties[counties.county_identifier.str.startswith("06")]) == 58

In [ ]:
# counties.plot()

Blocks

In [12]:
blocks = gpd.read_file("../processed/blocks_2018_ak.geojson")

In [13]:
blocks.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 45292 entries, 0 to 45291
Data columns (total 6 columns):
state_fips     45292 non-null object
county_fips    45292 non-null object
block_id       45292 non-null object
geoid          45292 non-null object
block_name     45292 non-null object
geometry       45292 non-null object
dtypes: object(6)
memory usage: 2.1+ MB

In [14]:
blocks.head()

,state_fips,county_fips,block_id,geoid,block_name,geometry
0,02,068,2489,020680001002489,Block 2489,"POLYGON ((-152.542201 63.520813, -152.541776 6..."
1,02,220,1411,022200001001411,Block 1411,"POLYGON ((-134.908035 57.120795, -134.907602 5..."
2,02,220,1106,022200001001106,Block 1106,"POLYGON ((-135.896472 57.999021, -135.895952 5..."
3,02,220,1187,022200001001187,Block 1187,"POLYGON ((-135.806357 57.698174, -135.806305 5..."
4,02,220,1212,022200001001212,Block 1212,"POLYGON ((-134.999708 57.544697, -134.999605 5..."

ZCTA

In [22]:
zcta = gpd.read_file("../processed/zctas_2018_ia.geojson")

In [23]:
zcta.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 3 columns):
zcta        935 non-null object
geoid       935 non-null object
geometry    935 non-null object
dtypes: object(3)
memory usage: 22.0+ KB

In [25]:
zcta.head()

    zcta  geoid                                           geometry
0  50642  50642  POLYGON ((-92.866195 42.455834, -92.856454 42....
1  50643  50643  POLYGON ((-92.573013 42.413197, -92.572936 42....
2  50644  50644  POLYGON ((-92.031019 42.533212, -92.030995 42....
3  50645  50645  POLYGON ((-92.575824 43.097594, -92.575433 43....
4  50647  50647  POLYGON ((-92.554782 42.698177, -92.554422 42....

Places

In [29]:
places = gpd.read_file("../processed/places_2018.geojson")

In [30]:
places.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 17 columns):
STATEFP     354 non-null object
PLACEFP     354 non-null object
PLACENS     354 non-null object
GEOID       354 non-null object
NAME        354 non-null object
NAMELSAD    354 non-null object
LSAD        354 non-null object
CLASSFP     354 non-null object
PCICBSA     354 non-null object
PCINECTA    354 non-null object
MTFCC       354 non-null object
FUNCSTAT    354 non-null object
ALAND       354 non-null int64
AWATER      354 non-null int64
INTPTLAT    354 non-null object
INTPTLON    354 non-null object
geometry    354 non-null object
dtypes: int64(2), object(15)
memory usage: 47.1+ KB

In [31]:
places.head()

,STATEFP,PLACEFP,PLACENS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,PCICBSA,PCINECTA,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,02,16360,02419371,0216360,Coffman Cove,Coffman Cove city,25,C1,N,N,G4110,A,28151034,6262727,+56.0017524,-132.8419314,"POLYGON ((-132.904509 56.026356, -132.904024 5..."
1,02,34460,02419401,0234460,Hydaburg,Hydaburg city,25,C1,N,N,G4110,A,741929,20743,+55.2058418,-132.8204379,"POLYGON ((-132.829834 55.208439, -132.829386 5..."
2,02,37650,02419406,0237650,Kasaan,Kasaan city,25,C1,N,N,G4110,A,15703414,1904849,+55.5611447,-132.4068335,"POLYGON ((-132.478383 55.561556, -132.475771 5..."
3,02,40400,02419412,0240400,Klawock,Klawock city,25,C1,N,N,G4110,A,1884219,634266,+55.5564133,-133.0862916,"POLYGON ((-133.103904 55.558798, -133.103102 5..."
4,02,77140,02418862,0277140,Thorne Bay,Thorne Bay city,25,C1,N,N,G4110,A,69081723,7883794,+55.6670265,-132.5356533,"POLYGON ((-132.643987 55.709716, -132.63119 55..."